.general{
  vertical-align:middle;
  background-color:white;
  margin:auto;
  margin-top:10px
}

.navbar{
  overflow:hidden;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  width: 100vw;
  text-align:center;
  opacity:100%;
}

.nav_link{
  border-width:1px;
  border-style:solid;
  border-radius:10px;
  padding:5px;
  margin:5px;
}

.intro{
  padding-top:45px;
  height:100vh;
  width:100vw;
  background:rgb(255, 255, 255);
  text-align:center;
}

.intro h1{
  font-family: 'Permanent Marker', cursive;
  font-size:60px;
}

.intro h3{
  font-family: 'Roboto', sans-serif;
}

.section1{
  padding-top:45px;
  height:100vh;
  width:100vw;
  background:lightslategray;
  text-align:center;
}

.section1 h1{
  font-family: 'Permanent Marker', cursive;
  font-size:45px;
}

.section1 p{
  font-family: 'Roboto', sans-serif;
}

.section2 p{
  font-family: 'Roboto', sans-serif;
}

.section2 h1{
  font-family: 'Permanent Marker', cursive;
  font-size:45px;
}

.section2{
  padding-top:45px;
  height:100vh;
  width:100vw;
  background:saddlebrown;
  color:lightgray;
  text-align:center;
}

